@use "variables" as var;
@use "mixins" as m;

.item2{
    position: relative;
    height: auto;
    margin-bottom: 10px;
    span{
        color: rgb(0, 255, 42);
    }
    h1{
        letter-spacing: 2px;
        text-align: center;
        font-size: 35px;
        margin-bottom: 10px;
    }
    #main-container{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        input{
            color: var.$white;
            padding: 5px;
            width: 15%;
            border-radius: 10px;
            border: none;
            outline: none;
            margin-bottom: 10px;
            background-color: var.$bg-foreground;
        }
    }
}