@use "variables" as var;
.item1 {
    grid-area: start;
}
.item2 {
    grid-area: guides;
}
.item3 {
    grid-area: about;
}
.item4 {
    grid-area: community;
}
.item5 {
    grid-area: contact;
}
.item6 {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template:
        'start start start start start start'
        'guides guides guides guides guides guides'
        'about about about about about about'
        'community community community community community community'
        'contact contact contact contact contact contact'
        'footer footer footer footer footer footer';
}