@use "variables" as var;
@use "mixins" as m;
.item1{
    nav{
        ul{
            li{
                i{
                    a{
                        transition: 300ms;
                        &:hover{
                            cursor: pointer;
                            color: var.$primary;
                        }
                    }
                }
            }
        }
    }
}
