@use "variables" as var;
@use "mixins" as m;

#item2{
    position: relative;
    height: auto;
    margin-bottom: 10px;
    span{
        color: rgb(0, 255, 42);
    }
    h1{
        letter-spacing: 2px;
        text-align: center;
        font-size: 35px;
    }
    #top-guides{
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 30px;
        place-items: center;
        padding-bottom: 50px;
        li{
            @include m.top-guides-panel;
            width: 80%;
            height: auto;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-areas:
            "avatar details"
            "desc desc";
            transition: 300ms;
            &:hover{
                transform: scale(1.03);
                cursor: pointer;
            }
            .top-desc{
                margin: 0 auto;
                text-align: left;
                grid-area: desc;
                width: 90%;
                background-color: var.$bg-foreground;
                border-radius: 25px;
                margin-bottom: 25px;
                padding-right: 5px;
                padding-left: 5px;
            }
            .top-details{
                grid-area: details;
            }
        }
        .top-avatar{
            grid-area: avatar;
            border-radius: 50%;
            width: 75px;
            margin-top: 15px;
            margin-left: 35px;
            border: 2px solid;
            border-image-slice: 1;
        }
        .border-orange{
            @include m.border-orange;
        }
        .border-magenta{
            @include m.border-magenta;
        }
        .border-yellow{
            @include m.border-yellow;
        }
        .border-blue{
            @include m.border-blue;
        }
        .border-green{
            @include m.border-green;
        }
    }
}